<h2>Archives</h2>
<ul class="archives">
  <% @space.articles.archives.each do |archive| %>
    <li><%= link_to archive.eztime(':nmonth :year'), periodical_url(archive, :slug => nil, :day => nil) %></li>
  <% end %>
</ul>